@model ASP.NET_Humans.ViewModels.EditUserViewModel

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        input.largerCheckbox {
            width: 16px;
            height: 16px;
        }
    </style>
</head>

<h2>User <span style="color: brown">@Model.Login</span> information</h2>

<form asp-action="EditUser" asp-controller="Admin" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />

    <label asp-for="Id" class="col-lg control-label"> </label>
    <div class="col-lg-5">
        <input type="text" asp-for="Id" class="form-control input-md" id="id_input" readonly />
    </div>
    <hr />

    <label asp-for="Login" class="col-lg control-label"> </label>
    <div class="form-row col-lg-10">
        <div class="col">
            <input type="text" asp-for="Login" class="form-control input-md" id="login" readonly />
        </div>

        <div class="col">
            <button type="button" class="btn" onclick="openField(login)"><i class="fa fa-edit" style="font-size:25px"></i></button>
        </div>
    </div>
    <hr />

    <label asp-for="Email" class="col-lg control-label"> </label>
    <div class="form-row col-lg-10">
        <div class="col">
            <input type="text" asp-for="Email" class="form-control input-md" id="email" readonly />
        </div>

        <div class="col">
            <button type="button" class="btn" onclick="openField(email)"><i class="fa fa-edit" style="font-size:25px"></i></button>
        </div>
    </div>
    <hr />

    <div class="form-row">
        <div>
            <label asp-for="EmailConfirmed" class="col control-label"></label>
        </div>

        <div class="col">
            <input type="checkbox" asp-for="EmailConfirmed" class="largerCheckbox" />
        </div>
    </div>
    <hr />
    <div class="form col-lg">
        <h4>Roles</h4>

        <div class="col-md-4">
            @{
                foreach (var role in Model.AllRoles)
                {
                    <div>
                        <input type="checkbox" class="largerCheckbox" value="@role.Name" id="@role.Name" name="picked_roles" @(Model.Roles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                        <label for="@role.Name"> @role.Name </label>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
    <div class="form col-lg">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>

</form>


<!--Not static fileds-->
@*@{
        if (Model.LockoutEnabled && Model.LockoutEnd != null)
        {
            if (Model.LockoutEnd.Value >= DateTimeOffset.UtcNow)
            {
                <tr>
                    <td style="color: red">Blocked </td>
                    <td>@Model.LockoutEnd.Value</td>
                </tr>
            }
        }
    }*@


