@using OriginalWorker
@model List<Worker>
@{
    ViewData["Title"] = "Get People Page";
}

<head>
    <title>Hire Worker</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" runat="server" media="screen" href="~/css/HireWorkers.css" />   
    <link href="css/toast.min.css" rel="stylesheet">
    <script src="js/toast.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 6%">
        <div class="row">
            @for (var i = 0; i < Model.Count; i++)
            {
                var mod = Model[i];
                string color = "";
                switch (@mod.Rarity)
                {
                    case Rarity.Legendary:
                        color = "orange";
                        break;
                    case Rarity.Epic:
                        color = "violet";
                        break;
                    case Rarity.Rare:
                        color = "blue";
                        break;
                    case Rarity.Normal:
                        color = "grey";
                        break;
                    default:
                        color = "grey";
                        break;
                }
                <div class="col">
                    <div class="card user-card">
                        <div class="card-header text-center text-wrap">
                            <h4>@mod.Name</h4>
                            <hr />
                        </div>
                        <div class="card-block">
                            <div class="user-image @color">
                                @{
                                    var user = (User)ViewBag.User;
                                    var scr = @$"/Images/Users/{user.Id}/{mod.Id}.jpg";
                                    <img src="@scr" class="img-radius" alt="User-Profile-Image">
                                }
                            </div>
                            <hr>
                            <p class="text-muted m-t-15">Rarity: @mod.Rarity</p>
                            <ul class="list-unstyled activity-leval">
                                @{
                                    for (int l = 0; l < 4 - (int)mod.Rarity; l++)
                                    {
                                        <li class="active"></li>
                                    }
                                    for (int l = 0; l < (int)mod.Rarity; l++)
                                    {
                                        <li></li>
                                    }
                                }
                            </ul>
                            <div class="bg-c-@color counter-block m-t-5 p-10">
                                <div>
                                    <i class="fa fa-suitcase"> Salary: @mod.Salary</i>
                                </div>
                            </div>
                            @*<p class="m-t-15 text-muted">Good worker!!</p>*@
                            <hr>                                              
                            <a class="btn btn-primary" asp-route-workerId="@mod.Id.ToString()" asp-action="HireWorker" onclick="SuccessToast('@mod.Name was successful hired');"> Hire </a>
                        </div>
                    </div>
                </div>
            }
        </div>  
        <form method="post">
            <button  class="btn-primary" asp-action="RefreshGeneratedWorkers">Refresh New</button>
            <button  class="btn-primary" asp-action="RefreshInSystemWorkers">Refresh System</button>
        </form>
    </div>
</body>




