@model Worker;
@{
    ViewData["Title"] = "Get Worker Person";
}

<div style="color: indianred; font-size: larger">
    <table>
        <style>
            table {
                width: 300px; /* Ширина таблицы */
                border: 2px solid lightpink; /* Рамка вокруг таблицы */
                margin: auto; /* Выравниваем таблицу по центру окна  */
            }
            td {
                text-align: center; /* Выравниваем текст по центру ячейки */
            }
        </style> 

        <tr>
            <td> <b> @Model.Name </b> </td>
        </tr>

        @*<tr>
            <td>@Model.Sex</td>
        </tr>

        <tr>
            <td>@Model.Age</td>
        </tr>*@

        <tr>
            <td>@Model.Salary</td>
        </tr>

        <tr>
            @*@{
               var path = ($"/Images/{Context.Connection.RemoteIpAddress.MapToIPv4()}/" + Model.Sex.ToString().ToLower() + "_" + Model.Name + ".jpg");
              
            }

            <td><img src="@path" alt=":D" width="300" height="300"></td>*@
        </tr>
    </table>
</div>