@using System.Collections
@model IEnumerable<Worker>;
@{
    ViewData["Title"] = "Get People Page";
}

<div class="text-center">
    <table style="border-spacing: 7px 11px; border-collapse: separate; ">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Name</td>
                    </tr>

                    <tr>
                        <td>Rarity</td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                    </tr>
                    <tr>

                        <td><img src="~/img/empty.png" alt=":D" width="200" height="200"></td>
                    </tr>
                </table>
            </td>
            @foreach (var mod in Model)
            {
                <td>
                    <table>
                        <tr>
                            <td>@mod.Name</td>
                        </tr>

                        <tr>
                            <td>@mod.Rarity</td>
                        </tr>

                        <tr>
                            <td>@mod.Salary</td>
                        </tr>

                        <tr>
                            @{
                                string color = "";
                                switch (@mod.Rarity)
                                {
                                    case Rarity.Legendary:
                                        color = "orange";
                                        break;
                                    case Rarity.Epic:
                                        color = "blueviolet";
                                        break;
                                    case Rarity.Rare:
                                        color = "dodgerblue";
                                        break;
                                    case Rarity.Normal:
                                        color = "grey";
                                        break;
                                    default:
                                        color = "grey";
                                        break;
                                }
                            }
                            <td style="background: @color; width: 210px; height: 210px; ">
                                @{
                                    var user = (User)ViewBag.User;
                                    var scr = @$"/Images/Users/{user.Id}/{mod.Id}.jpg";
                                    <img src="@scr" alt="Can`t load image :D" width="200" height="200">
                                }
                            </td>
                        </tr>

                        <tr>
                            <form method="post">
                                <td> <button asp-controller="Home" asp-action="Index"> Image </button> </td>
                            </form>

                            </tr>

                        </table>
                    </td>
                }
        </tr>
    </table>
    <br />
</div>
<form method="post">
    <button asp-controller="Home" asp-action="RefreshNewPeople">Refresh New</button>  
    <button asp-controller="Home" asp-action="RefreshSystemPeople">Refresh System</button>
</form>
